---
import BlogPost from "../../components/BlogPost.astro";
import { Tags } from "../../constants/Tags";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const allPosts: any = await Astro.glob("../posts/*.md*");
  return Object.values(Tags).map((tag: any) => {
    const filteredPosts = allPosts.filter(
      (post: { frontmatter: { tags: string[] } }) =>
        post.frontmatter.tags.includes(tag),
    );
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
const tags = Object.values(Tags);
---

<Layout title={'Lulu log\'s '.concat(tag)}>
  <main>
    <div class="flex flex-wrap gap-4">
      {
        tags.map((tag) => (
          <span class="flex shadow-lg p-3 capitalize bg-opacity-20 bg-pink-200 rounded">
            <a href={`/level/${tag}`}>{tag}</a>
          </span>
        ))
      }
    </div>
    <h1 class="capitalize">{tag}</h1>
    <ul>
      {
        posts.map(
          (post: {
            url: any;
            frontmatter: { title: any; description: any; pubDate: any };
          }) => (
            <BlogPost
              description={post.frontmatter.description}
              pubDate={post.frontmatter.pubDate}
              url={post.url}
              title={post.frontmatter.title}
            />
          ),
        )
      }
    </ul>
  </main>
</Layout>

