---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import myGzh from "../../public/gzh.png";

const skills = [
  "HTML",
  "CSS",
  "JavaScript",
  "React",
  "Next",
  "Angular",
  "Typescript",
  "Node",
  "Express",
  "Nginx",
  "Mongodb",
  "Markdown",
];

const outputs: any[] = [
  { label: "Json Formatter", target: "/tools/jsonformatter" },
];

const contacts = [
  {
    label: "github.com/luludevcn/lululog",
    target: "https://github.com/luludevcn/lululog",
  },
  { label: "luludevcn@gmail.com", target: "mailto:luludevcn@gmail.com" },
];
---

<Layout title="关于我">
  <main>
    <h1>Me</h1>
    <div class="gap-4 text-gray-400 capitalize">
      <p>一个全栈工程师</p>
      <p>React、Nodejs追随者</p>
      <p>因为接触过Java喜欢上了TypeScript</p>
      <p>希望我可以分享一些对大家有用的东西</p>
    </div>
    <hr class="border-gray-400 mt-5" />
    <h1>Skills</h1>
    <div class="flex flex-wrap gap-4">
      {
        skills.map((skill) => (
          <span class="flex shadow-lg p-3 text-gray-400 capitalize bg-opacity-20 bg-pink-800 rounded">
            {skill}
          </span>
        ))
      }
    </div>
    <hr class="border-gray-400 mt-5" />
    <h1>Output</h1>
    <div class="flex flex-wrap gap-4">
      {
        outputs.length ? (
          outputs.map((output) => (
          <a
            href={output.target}
            target="_blank"
            class="flex shadow-lg p-3 text-gray-400 bg-opacity-20 bg-pink-800 rounded hover:underline"
          >
            {output.label}
          </a>
          ))
        ) : (
          <p class="text-gray-400">Comming Soon ...</p>
        )
      }
    </div>
    <hr class="border-gray-400 mt-5" />
    <h1>Contact</h1>
    <div class="gap-4 flex flex-wrap">


      {
        contacts.map((contact) => (
          <a
            href={contact.target}
            target="_blank"
            class="flex shadow-lg p-3 text-gray-400 bg-opacity-20 bg-pink-800 rounded hover:underline"
          >
            {contact.label}
          </a>
        ))
      }
    </div>
    <div class="mt-8">
      <Image src={myGzh} alt="LuLu开发的公众号，扫关注" width={300} />
    </div>
  </main>
</Layout>
