---
import Card from "../components/Card.astro";
import Layout from "./Layout.astro";

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title} keywords={frontmatter.keywords} description={frontmatter.description}>
  <main>
    <Card href="#" title="What is it" body={frontmatter.description} />
    <h1 class="text-center">{frontmatter.title}</h1>
    <div class="flex justify-between">
      <div class="flex flex-wrap">
        {
          frontmatter.tags.map((tag: any) => (
            <p class="tag mx-1 rounded px-2 py-1 border-gray-600 border-dotted capitalize text-base border">
              <a href={`/level/${tag}`}>{tag}</a>
            </p>
          ))
        }
      </div>
      <div class="text-right underline">
        {frontmatter.pubDate.toString().slice(0, 10)} by {frontmatter.author}
      </div>
    </div>
    <div class="py-5 border-b border-gray-600">
      <slot />
    </div>
    <hr/>
  </main>
</Layout>
