---
import Card from "../components/Card.astro";
import Layout from "./Layout.astro";

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
  <main>
    <Card
      href="#"
      title="What is it"
      body="Markdown，一种轻量级的标记语言,MDX，让你的文档更富渲染力"
    />
    <h1>{frontmatter.title}</h1>
    <p>{frontmatter.pubDate.toString().slice(0, 10)}</p>
    <p>by {frontmatter.author}</p>
    <!-- <img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} /> -->
    <div class="tags">
      {
        frontmatter.tags.map((tag: any) => (
          <p class="tag">
            <a href={`/tags/${tag}`}>{tag}</a>
          </p>
        ))
      }
    </div>
    <slot />
    <Card
      href="#"
      title="That is it"
      body="Markdown，一种轻量级的标记语言,MDX，让你的文档更富渲染力"
    />
  </main>
</Layout>

<style>
  a {
    color: #686b6d;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
  }

  .tag {
    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    font-size: 1em;
  }
</style>
